<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gestion des mots de passe LEC</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	</head>

	<body>
		<div class="container">
			<div class="row mb-3">
				<nav class="navbar navbar-light" style="background-color: #eee;border-bottom: #000 1px solid;background-image:url('img/bokeh.png');background-size:cover;">
					<h1>Gestion des mots de passe</h1>
					{% if session.cn is defined %}
						<div class="d-flex align-items-center">
							<span class="navbar-text me-2">
								{{session.prenom|capitalize}}
								{{session.nom|upper}}
								{% if session.isReferent %}
									(session référent)
								{% elseif session.isProfesseur %}
									(session enseignant)
								{% else %}
									(session élève)
								{% endif %}
							</span>
							<form method="post" action="index.php">
								<input type="hidden" name="action" value="logout">
								<button type="submit" class="btn btn-outline-primary">
									deconnexion
								</button>
							</form>
						</div>
					{% else %}
						<div class="d-flex align-items-center">
							<span class="navbar-text me-2">
								Identification
							</span>
						</div>
					{% endif %}

				</nav>
			</div>

			{% if success|length > 0 %}
				{% for ok in success %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{{ok}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endif %}

			{% if erreurs|length > 0 %}
				{% for erreur in erreurs %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{erreur}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endif %}

			{% block body %}
				<div class="row">
					<div class="col">
						Boite à outils : template de base qui ne devrait pas s'afficher ...
					</div>
				</div>
			{% endblock %}
		</div>

	</body>

</html>
