{% extends "base.twig" %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<a href="index.php">
				<button class="btn btn-primary mb-3">
					Retour à l'accueil
				</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
        <div>
            <h5> Changement de mot de passe pour l'utilisateur <span class="bg-secondary bg-gradient text-light">&nbsp;{{post.user}}&nbsp;</span></h5>
        </div>
        <form method='post' action='index.php'>
            <input name="action" id="action" type="hidden" value="modify_pwd">
            <input name="user" id="user" type="hidden" value="{{post.user}}">
            <div class="form-floating mb-3">
                <input name="password" type="text" class="form-control" id="password" placeholder="Mot de passe">
                <label for="password">Nouveau mot de passe</label>
            </div>
            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
        </form>
        </div>
	</div>
{% endblock %}
