{% extends 'base.twig'%}
{% block body %}
	<div class="row">
		<div class="col-12">
			<a href="index.php">
				<button class="btn btn-primary mb-3">
					Retour à l'accueil
				</button>
			</a>
		</div>
	</div>
	{% if pupils|length > 0 %}
		<div class="row">
			<form name="groupform" action="index.php" method="post">
				<input type="hidden" name="action" value="group_detail">
				<input type="hidden" name="group" value="">
			</form>
			<form name="peopleform" action="index.php" method="post">
				<input type="hidden" name="action" value="people_pwd">
				<input type="hidden" name="user" value="">
			</form>
			<div class="col">
				<div>
					<h6>Voici le détail du groupe
						{{post.group}}
					</h6>
				</div>
				<table class="table table-hover table-sm table-striped">
					<thead class="bg-primary text-light">
						<tr>
							<th>
								Nom
							</th>
							<th>
								Prénom
							</th>
							<th>
								Identifiant
							</th>
							<th>
								Groupes
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for pupil in pupils %}
							<tr>
								<td>
									{{pupil.nom|upper}}
								</td>
								<td>
									{{pupil.prenom|capitalize}}
								</td>
								<td>
									{{pupil.cn}}
								</td>
								<td>
									{% for group in pupil.groups %}
										{% if group != 'eleves' %}
											<a href="#" onclick="document.forms['groupform'].group.value='{{group}}';document.forms['groupform'].submit();">
												<span class="badge bg-success">{{group}}</span>
											</a><br>
										{% endif %}
									{% endfor %}
								</td>
								<td>
									<button class="btn btn-outline-primary" onclick="document.forms['peopleform'].user.value='{{pupil.cn}}';document.forms['peopleform'].submit();">
										réinitialiser le mot de passe
									</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col">
				Il n'y a aucun compte dont vous pouvez modifier le mot de passe dans le groupe
				<b>{{post.group}}</b>.
			</div>
		</div>
	{% endif %}
{% endblock %}
