{% extends 'base.twig'%}
{% block body %}
	<div class="row">
		<div class="col-12">
			<p>
				Voici les groupes contenant {{post.group_name}}
			</p>
			<a href="index.php">
				<button class="btn btn-primary mb-3">
					Retour à l'accueil
				</button>
			</a>
		</div>
	</div>
	{% if groups|length > 0 %}
		<form name="groupform" action="index.php" method="post">
			<input type="hidden" name="action" value="group_detail">
			<input type="hidden" name="group" value="">
		</form>
		<div class="row">
			<div class="col">
				<table class="table table-striped">
					<thead class="bg-primary text-light">
						<tr>
							<th>
								Groupe
							</th>
							<th>
								
							</th>
						</tr>
					</thead>
					<tbody>
						{% for group in groups %}
							{% if group.cn != 'eleves' %}
							<tr>
								<td>
									{{group.cn}}
								</td>
								<td>
									<button class="btn btn-outline-primary"
										onclick="document.forms['groupform'].group.value='{{group.cn}}';document.forms['groupform'].submit();"
									> détail </button>

								</td>
							</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}
</div></div>{% endblock %}
