{% extends 'base.twig'%}
{% block body %}
<div class="row">
    <div class="col-8 offset-md-4 col-md-4">
        <form method='post' action='index.php'>
            <div class="form-floating mb-3">
                <input name="identifiant" type="text" class="form-control" id="identifiant"
                    aria-describedby="AideIdentifiant" placeholder="Identifiant">
                <label for="identifiant">Votre identifiant</label>
            </div>
            <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control" id="password" placeholder="Mot de passe">
                <label for="password">Votre mot de passe</label>
            </div>
            <button type="submit" class="btn btn-primary">S'identifier</button>
        </form>
    </div>
</div>
{% endblock %}