{% extends 'base.twig'%}
{% block body %}
<div class="row">
    <div class="col-8 offset-md-4 col-md-4">
        <p>
            Vous avez été déconnecté avec succès.
        </p>
        <a href="index.php"><button class="btn btn-primary">Se reconnecter</button></a>
    </div>
</div>
{% endblock %}