{% extends 'base.twig'%}
{% block body %}
	<div class="row mt-3">
		<form name="groupform" action="index.php" method="post">
			<input type="hidden" name="action" value="group_detail">
			<input type="hidden" name="group" value="">
		</form>

		<h5>Bonjour
			{{session.prenom|capitalize}}
			{{session.nom|upper}}.
		</h5>
		{% if session.isProfesseur or session.isReferent %}
			<p>
				Voici les groupes dont vous êtes membre :
				{% for group in session.groups %}
					<span class="badge bg-secondary" style="cursor:pointer" onclick="document.forms['groupform'].group.value='{{group}}';document.forms['groupform'].submit();">
						{{group}}
					</span>
				{% endfor %}
			</p>
			<p>
				Voici les groupes où vous avez à priori des élèves :
				{% for group in session.cours %}
					<span class="badge bg-success" style="cursor:pointer" onclick="document.forms['groupform'].group.value='{{group}}';document.forms['groupform'].submit();">
						{{group}}
					</span>
				{% endfor %}
			</p>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12 col-md-6 col-xl-4">
			<div class="card">
				<img src="img/key.png" class="card-img-top rounded p-2" alt="mot de passe">
				<div class="card-body">
					<h5 class="card-title">Changer mon mot de passe</h5>
					
					<form method="post" action="index.php">
						<input name="action" type="hidden" value="change_own_pwd">
						<div class="mb-3">
							<label for="password" class="form-label">Nouveau mot de passe
							</label>
							<input class="form-control" id="password" name="password" type="text">
						</div>
						<button class="btn btn-primary" type="submit">Changer le mot de passe</button>
					</form>
				</div>
			</div>
		</div>
		{% if session.isProfesseur or session.isReferent %}
		<div class="col-sm-12 col-md-6 col-xl-4">
			<div class="card">
				<img src="img/user.png" class="card-img-top rounded p-2" alt="Recherche d'élève">
				<div class="card-body">
					<h5 class="card-title">Rechercher un élève</h5>

					<form method="post" action="index.php">
						<input name="action" type="hidden" value="pupils_search">
						<div class="mb-3">
							<label for="pupil_name" class="form-label">Partie du nom ou du prénom de l'élève.
							</label>
							<input class="form-control" id="pupil_name" name="pupil_name" type="text">
						</div>
						<button class="btn btn-primary" type="submit">Rechercher</button>
					</form>

				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-xl-4">
			<div class="card">
				<img src="img/group.png" class="card-img-top rounded p-2" alt="Recherche de groupe">
				<div class="card-body">
					<h5 class="card-title">Rechercher un groupe</h5>
					<form method="post" action="index.php">
						<input name="action" type="hidden" value="groups_search">
						<div class="mb-3">
							<label for="group_name" class="form-label">Partie du nom de groupe.
							</label>
							<input class="form-control" id="group_name" name="group_name" type="text">
						</div>
						<button class="btn btn-primary" type="submit">Rechercher
						</button>
					</form>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}
